@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  padding-top: 3.4rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background: #e7e7e7;
}
.row {margin:0;}
.row-default { margin-left: -15px; margin-right: -15px;}
header .user-profile {margin-top: 8px;}
header .user-profile a{ color: #777; }
header .dropdown-menu {margin-left: -24px; padding-left: 10px;}
.navbar {
  padding: .45rem 1rem;
  color: #777;
  background: #e7e7e7 !important;
  border-bottom: 1px solid #cfcfca;
}
a.navbar-brand{ color: #536c79;}
.navbar-inverse .navbar-nav .nav-link{
  color: #777 !important;
  font-size: 1rem;
}
.navbar-brand{
  margin-right: 0;
  position: relative;
  width: 240px;
}
.navbar-brand a {
  color: #777;
}
.btn {
  cursor: pointer;
}
.navbar .btn-fill{
  border-radius: 25px;
  padding: 7px 10px;
  color: #FFFFFF;
  position: absolute;
  right: 0;
  background-color: #66615B;
  opacity: 1;
}
.ti-more-alt {
  display: inline-block;
  min-width: 14px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  vertical-align: middle;
}

/* nav side  */
aside {margin-left:0;}
.sidebar { width: 50px; background-color: #312f2c; transition: all 0.5s  ease-in-out; position: fixed; height: 100%;
  transition-property: top,bottom, width;
  -webkit-transition-duration: .2s,.2s, .35s;
  transition-duration: .2s,.2s, .35s;
  -webkit-transition-timing-function: linear,linear,ease;
  transition-timing-function: linear,linear,ease;
}
.sidebar.active{width:220px;}
.sidebar .nav { margin-top: 10px; flex-wrap: wrap;}
.sidebar .nav { padding-left: 0; margin-bottom: 0; list-style: none;}
.sidebar .nav:before { display: table; content: " "; }
.sidebar .nav li { display: block; position: relative;}
.sidebar .nav li>a { margin: 10px 0px 0px; 
  position: relative;
  display: block;
  padding: 10px 15px;
  padding-left: 25px; padding-right: 25px; white-space: nowrap; color: #7A9E9F; opacity: 1; }
.sidebar .nav li>a.active,.sidebar .nav li > a:hover { color: #fff; opacity: 1; transition: all 150ms ease-in;}
.sidebar .nav i { font-size: 24px; float: left; margin-right: 15px; line-height: 30px; width: 30px; text-align: center;}
.sidebar .nav p {
  margin: 0;
  line-height: 30px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  -webkit-transform: translate3d(0px, 0, 0);
  -moz-transform: translate3d(0px, 0, 0);
  -o-transform: translate3d(0px, 0, 0);
  -ms-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
  opacity: 1;
  display: block;
  height: auto;
  white-space: nowrap;
}
/* MAIN */
main { margin-left: 220px; width: 100%; min-height: calc(100% - 123px);}
main div.heading {background: #fff; padding: 8px 10px 1px;}
main h3 { color: #777 }

main section { margin-top: .8rem !important; }
/* card */
.box {
  border-radius: 6px;
  box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
  background-color: #FFFFFF;
  color: #252422;
  margin-bottom: 20px;
  position: relative;
}
.box .card-content { padding: 15px 15px 10px 15px;}
.box .icon-big { font-size: 3em; }
.icon-warning { color: #F3BB45; }
.box .numbers { text-align: right; font-size: 2em; float: left; }
.box-content p { font-size: 16px; line-height: 1.4em; }
.box-footer { padding: 0 15px 15px;}
.box .icon-content { position: relative; min-height: 1px; margin-top: 6px; padding-right: 15px; padding-left: 15px; }
.box .right-content {position: absolute; right: 0; padding-right: 15px; line-height: .4; margin-top: 10px;}
.box-footer .stats {color: #a49e93; font-weight: 300; font-size: 14px;}
.box hr {border-color: #F1EAE0; }
.icon-success { color: #7AC29A; }
.icon-danger { color: #DD0330; }
.icon-info { color: #68B3C8; }

.footer {
  position: fixed;
  line-height: 20px;
  bottom: 0;
  width: 100%;

}
.footer ul {    list-style: none;
  margin: 0;
  padding: 0;
  font-weight: normal;
}
.footer ul li { display: inline-block;
  padding: 3px 15px;
  margin: 0 3px; 
  line-height: 20px;
  text-align: center;
}

.footer ul li a {    color: #66615b;
  display: block;
  margin-bottom: 3px;}
.footer .copyright {    color: #66615b;
  padding: 5px 15px 5px;
  font-size: 14px;
  margin: 10px 3px;
  line-height: 20px;
  white-space: nowrap;
  text-align: right;
  margin-right: 16%;
}

  .pull-left {float:left}
  .pull-right {float:right;}